*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}


header{
    z-index: 9999;
    position: sticky;
    top: 0%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid grey;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

.listaImg{
    padding: 0.3rem;
}

.menu{
    display: flex;
    list-style: none;
    
}

.menuLista{
    padding: 0.3rem;
    text-decoration: none;
    font-size: 0.52rem;

}

.item{
    color: black;
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-areas: "imagen "
                         "titulo "
                         "parrafo "
                         "footer ";
    justify-content: center;
}


.fotoIndex{
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloIndex{
    grid-area: titulo;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-align: center;
    color: #383970;
    padding: 1rem;
}

.parrafoIndex{
    grid-area: parrafo;
    font-size: 1rem;
    text-align: center;
    padding: 5rem;

    color: #17A589;
}

 footer{
     grid-area: footer;
     
 }

 .redesSociales{
    display: flex;
    display: inline-block;
    flex-direction: column;
}


/*acá termina el Css del index y arranca el de "trabajos"*/

.titulosHtml{
    color: #eb6533;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgPag1{
    margin: 10px;
    margin-left: 100px;
}

.linkPag1{
    text-decoration: none;
    color: #17A589;
    padding: 8px;
    border: 3px solid skyblue ;
    border-radius: 30%;
    
    
}


.tituloPrimerProyect {
    text-align: center;
    height: 5vh;
    width: 30vh;
    position: relative;
    bottom: 250px;
    left: 320px;
    display: inline-block;
    
}

.parrafoPrimerProyect {
    height: 70px;
    text-align: center;
    color: #383970;
    position: relative;
    bottom: 220px;
    left: 700px;
    display: inline-block;
    
}

.imgPag2 {
    margin: 10px;
    position: relative;
    bottom: 10px;
    left: 800px;
}

.linkPag2{
    text-decoration: none;
    color: #17A589;
    padding: 8px;
    border: 3px solid skyblue ;
    border-radius: 30%;
    
    
}

.tituloSegundoProyect {
    margin-top: 300px;
    position: relative;
    bottom: 200px;
    right: 300px;
    display: inline-block;
    
}

.parrafoSegundoProyect {
    height: 70px;
    text-align: center;
    color: #383970;
    position: relative;
    bottom: 95px;
    right: 750px;
    display: inline-block;
}

.imgTrabajos{
    position: relative;
    left: 850px;
    bottom: 90px;
}

/*acá termina el Css del Trabajos y arranca el de "Conocimientos" */


.imagenHtml{
    margin-bottom: 100px;
    position: relative;
    left: 250px;
    height: 100px;
}

.barraHtml{
    margin-bottom: 100px;
    position: relative;
    left: 300px;
    bottom: 15px; 
    height: 50px;
}

.conocimientosCss{
    height: 500px;
    
}

.imagenCss{
    margin-bottom: 100px;
    position: relative;
    left: 239px;
    height: 123px;
}

.barraCss{
    margin-bottom: 100px;
    position: relative;
    left: 290px;
    top: 0px;
    height: 55px;
}

.programadorConocimientos{
    position: relative;
    top: 200px;
    left: 850px;
    height: 200px;
}

.contenidoConocimiento{
    position: relative;
    left: 850px;
    bottom: 525px;
    width: 400px;
}


.tituloConocimiento{
    position: relative;
    bottom: 100px;
    height: 10vh;
    width: 50vh;
    text-align: center;
    color: #eb6533;
}

.textoConocimiento{
    position: relative;
    bottom: 100px;
    height: 10vh;
    width: 50vh;
    text-align: center;
    color: blue;
}

/*acá termina el Css de conocimientos y arranca el de Sobre mi */

.contenidoSobreMi{
    position: relative;
    bottom: 250px;
    width: 450px;
    margin: 10px;
    left: 150px;
    text-align: center;
}

.tituloSobreMi{
    margin-bottom: 25px;
    color: #383970;

}

.parrafoSobreMi{
    color: #17A589;
}

.fotoYo{
    position: relative;
    left: 800px;
    top: 50px;

}

/*acá termina el Css de Sobre mi y arranca el de Contacto */



.redesSocialesContactame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;
    
}

.logos{
    position: relative;
    bottom: 250px;
    margin: 50px;
    
}


.formulario{
    position: relative;
    top: 350px;
    left: 410px;
    width: 600px;
    height: 300px;
    border: 3px solid #17A589;
}

#consultaFormulario{
    width: 500px;
    height: 150px;    
}


@media only screen and (min-width:600px){

    .menuLista{
        font-size: 1rem;
    }

    .contenedorMain{
        display: grid;
        grid-template-areas: "imagen titulo"
                             "imagen parrafo ";
                             
        justify-content: center;
        grid-template-columns: 40% 60%;
        column-gap: 2rem;
    }

    .fotoIndex{
        display: flex;
        width: 150%;
        
    }

    .tituloIndex{

        margin-top: 17vh;
        font-size: 1.5rem;
        text-align: center;
        color: #383970;
    }
    
    .parrafoIndex{
        font-size: 0.7rem;
        text-align:center;
        color: #17A589;
    }
    
    footer{
        margin-top: 40vh;
    }
    .redesSociales{
        width: 30%;
               
    }
}

@media only screen and (min-width:1024px){

    .contenedorMain{
        display: grid;
        grid-template-areas: "imagen titulo"
                             "imagen parrafo ";
        column-gap: 2rem;

    }

    .fotoIndex{
        display: flex;
        width: 40rem;
    }

    .tituloIndex{
        font-size: 2rem;
        padding: 3rem;
    }

    .parrafoIndex{
        font-size: 1.2rem;
    }
}