*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}


header{
    z-index: 9999;
    position: sticky;
    top: 0%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid grey;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
}

.listaImg{
    padding: 0.3rem;
}

.menu{
    display: flex;
    list-style: none;
    
}

.menuLista{
    padding: 0.3rem;
    text-decoration: none;
    font-size: 0.52rem;

}

.item{
    color: black;
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-areas: "imagen "
                         "titulo "
                         "parrafo "
                         "footer ";
    justify-content: center;
}


.fotoIndex{
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloIndex{
    grid-area: titulo;
    font-size: 1.5rem;
    margin-left: 2rem;
    text-align: center;
    color: #383970;
    padding: 1rem;
}

.parrafoIndex{
    grid-area: parrafo;
    font-size: 1rem;
    text-align: center;
    padding: 5rem;

    color: #17A589;
}

 footer{
     grid-area: footer;
     
 }

 .redesSociales{
    display: flex;
    display: inline-block;
    flex-direction: column;
}
.redesSociales a img{
    width: 17%;
}


/*acá termina el Css del index y arranca el de "trabajos"*/


.contenedorTrabajos{
    display: grid;
    grid-template-areas: "titulo"
                         "subtitulo1"
                         "foto1"
                         "parrafo1"
                         "subtitulo2"
                         "foto2"
                         "parrafo2";
}

.titulosHtml{
    grid-area: titulo;
    color: #eb6533;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imgPag1{
   grid-area: foto1;
   margin-top: 2.2rem;
   margin-bottom: 2.2rem;
   width: 15rem;
   display: flex;
   justify-self: center;
   width: 15rem;
   display: flex;
   justify-self: center;
   border-radius: 10%;
}

.linkPag1{
    text-decoration: none;
    color: #17A589;
}


.tituloPrimerProyect {
   text-align: center;
   grid-area: subtitulo1;
}

.parrafoPrimerProyect {
    grid-area: parrafo1;
    text-align: center;
    padding: 2.5rem;
}

.imgPag2 {
     grid-area: foto2;
     margin-top: 2.2rem;
     margin-bottom: 2.2rem;
     width: 15rem;
     display: flex;
     justify-self: center;
     border-radius: 10%;
}

.linkPag2{
    text-decoration: none;
    color: #17A589;
}

.tituloSegundoProyect {
    grid-area: subtitulo2;
    text-align: center;
}

.parrafoSegundoProyect {
    grid-area: parrafo2;
    text-align: center;
    padding: 2.5rem;
}


/*acá termina el Css del Trabajos y arranca el de "Conocimientos" */

.programadorConocimientos{
    display:none;
}

.contConocimientos{
    display: grid;
    grid-template-areas:"titulo titulo"
                        "conHtml conHtml"
                        "conCss conCss"
                        "subtit subtit";
}

.titulosHtml{
    grid-area: titulo;
    margin-bottom: 3rem;
}

.imagenHtml{
    width: 4.2rem;
    margin-left: 0.3rem;
}

.barraHtml{
    width: 13.5rem;
}

.conocimientosHtml{
    grid-area: conHtml;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.imagenCss{
    width: 4.7rem;
}

.barraCss{
    width: 12rem;
    height: 2.25rem;
    margin-right: 0.7rem;
}

.conocimientosCss{
    grid-area: conCss;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloConocimiento{
    text-align: center;
    color: #eb6533;
}

.textoConocimiento{
    text-align: center;
    color: blue;
}

.contenidoConocimiento{
    grid-area: subtit;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
}

.footerConocimientos{
    margin-top: 16.5rem;
}



/*acá termina el Css de conocimientos y arranca el de Sobre mi */

.contenedorSobreMi{
    display: grid;
    grid-template-areas: "foto foto"
                         "titulo titulo"
                         "parrafo parrafo";
    
}

.tituloSobreMi{
    grid-area: titulo;
    color: #eb6533;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
    font-size: 2.3rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fotoYo{
    text-align: center;
    grid-area: foto;
}

.fotoYo img{
    width: 50%;
}

.subTituloSobreMi{
    grid-area: titulo;
    font-size: 1.5rem;
    text-align: center;
    color: #383970;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contenidoSobreMi{
    padding: 1.7rem;
    grid-area: parrafo;
    text-align: center;
    color: #17A589;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
/*acá termina el Css de Sobre mi y arranca el de Contacto */



.redesSocialesContactame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 200px;
    
}

.logos{
    position: relative;
    bottom: 250px;
    margin: 50px;
    
}


.formulario{
    position: relative;
    top: 350px;
    left: 410px;
    width: 600px;
    height: 300px;
    border: 3px solid #17A589;
}

#consultaFormulario{
    width: 500px;
    height: 150px;    
}

/* empiezan las mediaqueries*/

@media only screen and (min-width:350px){
    .menuLista{
        font-size: 0.75rem;
    }

}


@media only screen and (min-width:650px){

    .menuLista{
        font-size: 1rem;
    }

    .contenedorMain{
        display: grid;
        grid-template-areas: "imagen titulo"
                             "imagen parrafo ";
                             
        justify-content: center;
        grid-template-columns: 40% 60%;
        column-gap: 2rem;
    }

    .fotoIndex{
        display: flex;
        width: 150%;
        
    }

    .tituloIndex{

        margin-top: 17vh;
        font-size: 1.5rem;
        text-align: center;
        color: #383970;
    }
    
    .parrafoIndex{
        font-size: 0.7rem;
        text-align:center;
        color: #17A589;
    }

    .redesSociales{
        margin-top: 33rem;
    }

    .redesSociales a img{
        width: 60%;
    }
    
    
    
    
}

@media only screen and (min-width:1024px){

    .contenedorMain{
        display: grid;
        grid-template-areas: "imagen titulo"
                             "imagen parrafo ";
        column-gap: 2rem;

    }

    .fotoIndex{
        display: flex;
        width: 40rem;
    }

    .tituloIndex{
        font-size: 2rem;
        padding: 3rem;
    }

    .parrafoIndex{
        font-size: 1.2rem;
    }

    .redesSociales a img{
        width: 70%;
    }
}

/* fin de la mediaqueri del index e inicio del trabajos*/


@media only screen and (min-width:650px){

    .contenedorTrabajos{
        display: grid;
        grid-template-areas: "titulo titulo"
                             "foto1 subtitulo1"
                             "foto1 parrafo1"
                             "subtitulo2 foto2"
                             "parrafo2 foto2";
    }

    .imgPag1{
        width: 18rem;
    }

    .imgPag2{
        width: 18rem;
    }

    .redesSociales{
        display: flex;
        flex-direction: row;

    }
    footer{
        margin-top: 0%;
    }

    @media only screen and (min-width:1024px){

        .tituloPrimerProyect{
            font-size: 2rem;
            
        }

        .tituloSegundoProyect{
            margin-top: 3rem;
            font-size: 2rem;
        }

        .imgPag1{
            width: 25rem;
        }

        .imgPag2{
            width: 25rem;
        }
    }

}

/* fin de la mediaqueries trabajos e inicio de conocimientos*/

@media only screen and (min-width:650px){

    .contConocimientos{
        grid-template-areas:"titulo titulo"
                            "conHtml conHtml"
                            "program program"
                            "conCss conCss"
                            "subtit subtit";
    }

    .programadorConocimientos{
        margin-left: 40%;
        grid-area: program;
        display: block;
    }

    .programadorConocimientos img{
        justify-self: center;
        width: 35%;
    }

    .conocimientosHtml{
        margin-top: 5rem;

    }
    .contenidoConocimiento{
        margin-top: 2rem;
        padding: 9rem;
    }
}

@media only screen and (min-width:1024px){

    .contConocimientos{
        grid-template-areas:"titulo titulo"
                            "conHtml conHtml"
                            "program subtit"
                            "conCss conCss";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 15% 40% 20%;
        
    }

    .conocimientosHtml{
        height: 7rem;
        
    }

    .imagenHtml{
        width: 8%;
    }

    .barraHtml{
        height: 3rem;
        width: 20%;
    }

    .programadorConocimientos{
        align-self: flex-end;
        padding-bottom: 4.3rem;
    }

    .programadorConocimientos img{
        width: 15rem;
    }

    .conocimientosCss{
        height: 10rem;
    }

    .imagenCss{
        height: 7rem;
        width: 7rem;
    }

    .barraCss{
        width: 20%;
        height: 35%;
    }
}
/* fin de la mediaqueries conociminetos e inicio de sobre mi*/

@media only screen and (min-width:650px){

        .tituloSobreMi{
            font-size: 3rem;
        }


        .contenidoSobreMi{
            padding-left: 8rem;
            padding-right: 8rem;
            font-size: 1.2rem;
        }

        .subTituloSobreMi{
            font-size: 1.6rem;
        }

        
}

@media only screen and (min-width:1024px){

    .contenedorSobreMi{
        grid-template-areas: "titulo foto"
                             "parrafo foto";
        grid-template-columns: 1fr 1fr;
        
    }

    .fotoYo{
        align-self: center;
    }

    .fotoYo img{
        width: 80%;
    }

    .subTituloSobreMi{
        font-size: 1.8rem;
    }

    .contenidoSobreMi{
        font-size: 1.1rem;
    }

}
