/* css del Index*/

.contenidoIndex{
    text-align: center;
    padding-top: 4rem;
}

.imagenBarra{
    width: 80%;
}

.tituloIndex{
    margin-bottom: 5rem;
    color: rgb(131, 35, 240);
}

.parrafoIndex{
    color: rgb(4, 211, 211);
    font-weight: 500;
}

.redesSociales{
    margin-top: 3rem;
}

.linkRedes{
    text-decoration: none;
}

@media only screen and (min-width:768px){

    footer{
        display: flex;
        flex-direction: column;
        height: 48vh;
        justify-content: flex-end;
    }
}

@media only screen and (min-width:1200px){

    .linkRedes{
        width: 4%;
    }
}


/* css de Conocimientos*/

.titulosHtml{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: orange;
}

.imagenHtml{
    width: 45%;
}

.conocimientosHtml{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barraHtml{
    height: 100%;
    width: 55%;
    margin-top: 2.5rem;
}


.imagenConocimientos{
    text-align: center;
    width: 50%;
    margin-left: 5rem;
}

.conocimientosCss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagenCss{
    width: 50%;
}

.barraCss{
    height: 100%;
    width: 50%;
    margin-top: 3rem;
}


.contenidoConocimiento{
    text-align: center;
}

.tituloConocimiento{
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    color: orange;
}

.textoConocimiento{
    color: rgb(44, 81, 243);
    margin: 1rem;
}

@media only screen and (min-width:768px){
    
    .titulosHtml{
        font-size: 3.5rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    .programadorConocimientos{
        text-align: center;
        margin-top: 3rem;
    }

    .conocimientosHtml{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imagenHtml{
        width: 19%;
        margin-left: 2rem;
        margin-right: 32%;
    }
    
    .barraHtml{
        height: 100%;
        width: 35%;
        margin-top: 5rem;
    }
    
    
    .imagenConocimientos{
        width: 35%;
        margin-left: 5rem;
    }

    .conocimientosCss{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imagenCss{
        width: 22%;
        margin-left: 1.5rem;
        margin-right: 2.7rem;
    }
    
    .barraCss{
        height: 100%;
        width: 36%;
        margin-top: 6rem;
    }
    
    .contenidoConocimiento{
        text-align: center;
    }
    
    .tituloConocimiento{
        font-size: 3rem;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        color: orange;
    }
    
    .textoConocimiento{
        font-size: 2rem;
        color: rgb(44, 81, 243);
        margin: 4rem;
    }

    .derechosReservados{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:1200px){

    .titulosHtml{
        font-size: 2.5rem;
    }

    .imagenHtml{
        width: 15%;
        margin-left: 14rem;
        margin-right: 28rem;
    }
    
    .barraHtml{
        height: 100%;
        width: 23%;
        margin-top: 5rem;
    }
    
    
    .imagenConocimientos{
        width: 20%;
    }
    
    .imagenCss{
        width: 17%;
        margin-left: 13.5rem;
        margin-right: 27rem;
    }
    
    .barraCss{
        height: 100%;
        width: 23%;
        margin-top: 6rem;
    }

    .tituloConocimiento{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        color: orange;
    }
    
    .textoConocimiento{
        font-size: 1.5rem;
        color: rgb(44, 81, 243);
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

/* Css de trabajos*/

.imgPag1{
    width: 90%;
    margin-left: 1.0rem;
}

.apple{
    text-align: center;
}

.tituloPrimerProyect{
    margin-top: 2rem;
}

.linkPag1{
    text-decoration: none;
    color: blueviolet;
}

.parrafoPrimerProyect{
    padding: 2rem;
    color: rgb(51, 103, 247);
}

.meli{
    text-align: center;
}

.imgPag2{
    width: 90%;
    margin-left: 1.0rem;
}

.tituloSegundoProyect{
    text-align: center;
    margin-top: 2rem;
}

.linkPag2{
    text-decoration: none;
    color: blueviolet;
}

.parrafoSegundoProyect{
    text-align: center;
    padding: 2rem;
    color: rgb(51, 103, 247);
}

.imgLink{
    width: 10%;
}





@media only screen and (min-width:768px){
    
    .imgPag1{
        margin-top: 4rem;
        width:45%;
        height: 70%;
    }

    .tituloPrimerProyect{
        width: 30rem;
    }

    .imgPag2{
        margin-top: 4rem;
        width:45%;
        height: 70%;
    }

    .tituloSegundoProyect{
        width: 30rem;
    }
    
    .meli{
        margin-top: 10rem;
    }

    .imgLink{
        width:6%;
    }
}


@media only screen and (min-width:1200px){

    .tituloPrimerProyect{
        margin-left: 6rem;
    }

    .parrafoPrimerProyect{
        margin-top: 3rem;
    }

    .tituloSegundoProyect{
        margin-left: 6rem;
    }

    .parrafoSegundoProyect{
        margin-top: 3rem;
    }

    .imgLink{
        width:5%;
    }
}

/* Css de contactame */

.botonContacto1{
    width: 50%;
    margin-left: 3rem;
}

.botonContacto2{
    width: 50%;
    margin-left: 1rem;
}

.botonContacto3{
    margin-top: 2rem;
    width: 65%;
    margin-left: 1.65rem;
    margin-bottom: 4rem;
}

.botonContacto4{
    margin-top: 2rem;
    width: 65%;
    margin-left: 1.7rem;
}

.formulario{
    margin-top: 2rem;
    margin-left: 16%;
    height: 90%;
    width: 70%;
    border: 1px solid black;
    text-align: center;
}

#consultaFormulario{
    width: 90%;
}

@media only screen and (min-width:768px){

    .botonContacto1{
        width: 40%;
        margin-left: 9.5rem;
    }
    
    .botonContacto2{
        width: 40%;
        margin-left: 2.5rem;
    }
    
    .botonContacto3{
        margin-top: 2rem;
        width: 50%;
        margin-left: 7.5rem;
        margin-bottom: 4rem;
    }
    
    .botonContacto4{
        margin-top: 2rem;
        width: 50%;
        margin-left: 4.5rem;
    }


    .formulario{
        margin-left: 11rem;
        height: 22rem;
        width: 25rem;
        text-align: center;
    }

    #consultaFormulario{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 9rem;
    }
}

@media only screen and (min-width:768px){

    .botonContacto1{
        width: 38%;
        margin-left: 50%;
    }
    
    .botonContacto2{
        width: 38%;
        margin-left: 3%;
    }
    
    .botonContacto3{
        width: 47%;
        
        margin-left: 55%;
        margin-bottom: 4rem;
    }
    
    .botonContacto4{
        width: 47%;
        
        margin-left: 23%;
    }
    

    .formulario{

        margin-left: 25%;
        height: 22rem;
        width: 25rem;
    }

    #consultaFormulario{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 9rem;
    }

}

@media only screen and (min-width:1200px){

    .formulario{

        margin-left: 30%;
        
    }
}

/* Css SobreMi */

.fotoYo{
    text-align: center;
}
.fotoSobreMi{
    width: 90%;
}

.subTituloSobreMi{
    margin-top: 2rem;
    text-align: center;
    color: blueviolet;
}

.parrafoSobreMi{
    text-align: center;
    color: rgb(42, 115, 250);
    padding: 2rem;
}

@media only screen and (min-width:768px){

    .fotoSobreMi{
        width: 110%;
        margin-right: 5%;
    }

    .subTituloSobreMi{
        margin-left: 15%;
    }

    .parrafoSobreMi{
        margin-left: 15%;
    }

    .contenidoSobreMi{
        padding: 0rem;
    }
}

@media only screen and (min-width:1200px){
    .subTituloSobreMi{
        margin-left: 35%;
    }

    .parrafoSobreMi{
        margin-left: 35%;
    }
}